/*******************/
// Theme Fonts
/********************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
$font-family-sans-serif: "Montserrat", sans-serif;
$body-bg:  #DBDBDB;
$active-link: rgba(134, 185, 235, 0.2);
$addLayout:  linear-gradient(90deg, #457FCA 0%, #2B659D 100%);
$textColor: #1D1D1E;
$borderColor: #EBEBEB;
$primary: #2962ff;
$info: #26c6da;
$danger: #f62d51;
$success: #39c449;
$warning: #ffbc34;
$dark: #1e2a35;
$light: #eaf2fb;
$secondary: #35363b;
$sidebarWidth: 260px;
$sidebarColor: $dark;
